In [1]:
import pandas as pd
# import os
# import sys

# def c

In [ ]:
# sys.path.insert(0, os.path.abspath('../dataset/Sample Superstore.xls'))

In [83]:
#import excel
read_excel = pd.read_excel("/Users/newuser/ali/project/kampus merdeka/repo_dibimbing/dataset/Untitled spreadsheet.xlsx")

In [84]:
read_excel

,Date,Price,Open,High,Low,Volume,Change
0,2017-10-02,252.320007,251.490005,252.320007,251.289993,59023000,0.004300
1,2017-10-03,252.860001,252.320007,252.889999,252.229996,66810200,0.002140
2,2017-10-04,253.160004,252.690002,253.440002,252.559998,55953600,0.001186
3,2017-10-05,254.660004,253.539993,254.679993,253.199997,63522800,0.005925
4,2017-10-06,254.369995,254.149994,254.699997,253.850006,80646000,-0.001139
...,...,...,...,...,...,...,...
1254,2022-09-26,364.309998,366.410004,370.209991,363.029999,92581200,-0.009893
1255,2022-09-27,363.380005,368.019989,370.399994,360.869995,108294100,-0.002553
1256,2022-09-28,370.529999,364.380005,372.299988,362.600006,110802200,0.019676
1257,2022-09-29,362.790009,366.809998,367.109985,359.700012,112952300,-0.020889
1258,2022-09-30,357.179993,361.799988,365.910004,357.040009,153711200,-0.015464

In [11]:
#import csv
read_file = pd.read_csv ('/Users/newuser/ali/project/kampus merdeka/repo_dibimbing/dataset/Data latihan sql/Sample - Store - Orders.csv')

In [4]:
# print(read_file)
read_file

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,CA-2016-138688,06/12/2016,06/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,CA-2014-110422,01/21/2014,01/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,CA-2017-121258,02/26/2017,03/03/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,CA-2017-121258,02/26/2017,03/03/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,CA-2017-121258,02/26/2017,03/03/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,CA-2017-119914,05/04/2017,05/09/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [5]:
data = read_file

In [6]:
#show information dataset
data.info() #

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9994 non-null   object
 1   Order Date     9994 non-null   object
 2   Ship Date      9994 non-null   object
 3   Ship Mode      9994 non-null   object
 4   Customer ID    9994 non-null   object
 5   Customer Name  9994 non-null   object
 6   Segment        9994 non-null   object
 7   Country        9994 non-null   object
 8   City           9994 non-null   object
 9   State          9994 non-null   object
 10  Postal Code    9994 non-null   int64
 11  Region         9994 non-null   object
 12  Product ID     9994 non-null   object
 13  Category       9994 non-null   object
 14  Sub-Category   9994 non-null   object
 15  Product Name   9994 non-null   object
 16  Sales          9994 non-null   float64
 17  Quantity       9994 non-null   int64
 18  Discount       9994 non-null   float64
 19  Profit         9994 non-null   float64
dtypes: float64(3), int64(2), object(15)
memory usage: 1.5+ MB

In [15]:
#show data 5 teratas
data.head(10)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,CA-2016-138688,06/12/2016,06/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,CA-2014-115812,06/09/2014,06/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
6,CA-2014-115812,06/09/2014,06/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656
7,CA-2014-115812,06/09/2014,06/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
8,CA-2014-115812,06/09/2014,06/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825
9,CA-2014-115812,06/09/2014,06/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700

In [17]:
#show data desc 
data.tail(15)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9979,US-2016-103674,12/06/2016,12/10/2016,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,California,90032,West,OFF-BI-10002026,Office Supplies,Binders,Ibico Recycled Linen-Style Covers,437.472,14,0.2,153.1152
9980,US-2015-151435,09/06/2015,09/09/2015,Second Class,SW-20455,Shaun Weien,Consumer,United States,Lafayette,Louisiana,70506,South,FUR-TA-10001039,Furniture,Tables,KI Adjustable-Height Table,85.980,1,0.0,22.3548
9981,CA-2017-163566,08/03/2017,08/06/2017,First Class,TB-21055,Ted Butterfield,Consumer,United States,Fairfield,Ohio,45014,East,OFF-LA-10004484,Office Supplies,Labels,Avery 476,16.520,5,0.2,5.3690
9982,US-2016-157728,09/22/2016,09/28/2016,Standard Class,RC-19960,Ryan Crowe,Consumer,United States,Grand Rapids,Michigan,49505,Central,OFF-PA-10002195,Office Supplies,Paper,"RSVP Cards & Envelopes, Blank White, 8-1/2"" X ...",35.560,7,0.0,16.7132
9983,US-2016-157728,09/22/2016,09/28/2016,Standard Class,RC-19960,Ryan Crowe,Consumer,United States,Grand Rapids,Michigan,49505,Central,TEC-PH-10001305,Technology,Phones,Panasonic KX TS208W Corded phone,97.980,2,0.0,27.4344
9984,CA-2015-100251,05/17/2015,05/23/2015,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,New York,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.500,10,0.0,15.1200
9985,CA-2015-100251,05/17/2015,05/23/2015,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,New York,11561,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.600,4,0.0,16.1240
9986,CA-2016-125794,09/29/2016,10/03/2016,Standard Class,ML-17410,Maris LaWare,Consumer,United States,Los Angeles,California,90008,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.240,1,0.0,15.2208
9987,CA-2017-163629,11/17/2017,11/21/2017,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,Georgia,30605,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.990,1,0.0,28.7964
9988,CA-2017-163629,11/17/2017,11/21/2017,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,Georgia,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.100,5,0.0,55.6470
9989,CA-2014-110422,01/21/2014,01/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,CA-2017-121258,02/26/2017,03/03/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,CA-2017-121258,02/26/2017,03/03/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,CA-2017-121258,02/26/2017,03/03/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,CA-2017-119914,05/04/2017,05/09/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [18]:
#calculate data row and coloumn
data.shape

(9994, 20)

In [21]:
data["Sales"].max()

22638.48

In [19]:
#show statistical number data type
data.describe()

        Postal Code         Sales     Quantity     Discount       Profit
count   9994.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   55190.379428    229.858001     3.789574     0.156203    28.656896
std    32063.693350    623.245101     2.225110     0.206452   234.260108
min     1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    23223.000000     17.280000     2.000000     0.000000     1.728750
50%    56430.500000     54.490000     3.000000     0.200000     8.666500
75%    90008.000000    209.940000     5.000000     0.200000    29.364000
max    99301.000000  22638.480000    14.000000     0.800000  8399.976000

In [22]:
#statistical serderna all colloumn
data.describe(include = "all")

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
count,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994.000000,9994,9994,9994,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000
unique,5009,1237,1334,4,793,793,3,1,531,49,NaN,4,1862,3,17,1850,NaN,NaN,NaN,NaN
top,CA-2017-100111,09/05/2016,12/16/2015,Standard Class,WB-21850,William Brown,Consumer,United States,New York City,California,NaN,West,OFF-PA-10001970,Office Supplies,Binders,Staple envelope,NaN,NaN,NaN,NaN
freq,14,38,35,5968,37,37,5191,9994,915,2001,NaN,3203,19,6026,1523,48,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55190.379428,NaN,NaN,NaN,NaN,NaN,229.858001,3.789574,0.156203,28.656896
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32063.693350,NaN,NaN,NaN,NaN,NaN,623.245101,2.225110,0.206452,234.260108
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1040.000000,NaN,NaN,NaN,NaN,NaN,0.444000,1.000000,0.000000,-6599.978000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23223.000000,NaN,NaN,NaN,NaN,NaN,17.280000,2.000000,0.000000,1.728750
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56430.500000,NaN,NaN,NaN,NaN,NaN,54.490000,3.000000,0.200000,8.666500
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90008.000000,NaN,NaN,NaN,NaN,NaN,209.940000,5.000000,0.200000,29.364000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99301.000000,NaN,NaN,NaN,NaN,NaN,22638.480000,14.000000,0.800000,8399.976000

In [29]:
#show data uninque / distinct
data["Customer Name"].unique()

array(['Claire Gute', 'Darrin Van Huff', "Sean O'Donnell",
       'Brosina Hoffman', 'Andrew Allen', 'Irene Maddox', 'Harold Pawlan',
       'Pete Kriz', 'Alejandro Grove', 'Zuschuss Donatelli', 'Ken Black',
       'Sandra Flanagan', 'Emily Burns', 'Eric Hoffmann',
       'Tracy Blumstein', 'Matt Abelman', 'Gene Hale', 'Steve Nguyen',
       'Linda Cazamias', 'Ruben Ausman', 'Erin Smith', 'Odella Nelson',
       "Patrick O'Donnell", 'Lena Hernandez', 'Darren Powers',
       'Janet Molinari', 'Ted Butterfield', 'Kunst Miller',
       'Paul Stevenson', 'Brendan Sweed', 'Karen Daniels',
       'Henry MacAllister', 'Joel Eaton', 'Ken Brennan',
       'Stewart Carmichael', 'Duane Noonan', 'Julie Creighton',
       'Christopher Schild', 'Paul Gonzalez', 'Gary Mitchum', 'Jim Sink',
       'Karl Braun', 'Roger Barcio', 'Parhena Norris', 'Katherine Ducich',
       'Elpida Rittenbach', 'Rick Bensley', 'Gary Zandusky',
       'Lena Cacioppo', 'Janet Martin', 'Pete Armstrong', 'Cynthia Voltz',
       'Clay Ludtke', 'Ryan Crowe', 'Dave Kipp', 'Greg Guthrie',
       'Steven Cartwright', 'Alan Dominguez', 'Philip Fox',
       'Troy Staebel', 'Lindsay Shagiari', 'Dorothy Wardle',
       'Lena Creighton', 'Jonathan Doherty', 'Sally Hughsby',
       'Sandra Glassco', 'Helen Andreada', 'Maureen Gastineau',
       'Justin Ellison', 'Tamara Willingham', 'Stephanie Phelps',
       'Neil Knudson', 'Dave Brooks', 'Nora Paige', 'Ted Trevino',
       'Eric Murdock', 'Ruben Dartt', 'Max Jones', 'Becky Martin',
       'Chad Sievert', 'Jennifer Braxton', 'Shirley Jackson', 'Jim Kriz',
       'David Kendrick', 'Robert Marley', 'Sally Knutson', 'Frank Merwin',
       'Alice McCarthy', 'Mark Packer', 'Mary Zewe', 'Cassandra Brandow',
       'Valerie Mitchum', 'Fred Hopkins', 'Maria Bertelson',
       'Bruce Stewart', 'Logan Currie', 'Heather Kirkland',
       'Laurel Elliston', 'Joseph Holt', 'Michael Stewart',
       'Victoria Wilson', 'Jonathan Howell', 'Joni Blumstein',
       'David Smith', 'Valerie Dominguez', 'Erin Ashbrook',
       'David Bremer', 'Ken Lonsdale', 'Dianna Wilson',
       'Logan Haushalter', 'Kelly Collister', 'Delfina Latchford',
       'Dan Reichenbach', 'Craig Carreira', 'Dorris liebe',
       'Sean Braxton', 'Roy Collins', 'Alan Hwang', 'Claudia Bergmann',
       'Christine Abelman', 'Kristen Hastings', 'Barry Blumstein',
       'Andrew Gjertsen', "Jas O'Carroll", 'Alan Haines', 'Nick Zandusky',
       'Kelly Lampkin', 'Alan Schoenberger', 'Corey Roper',
       'Shahid Hopkins', 'Ben Peterman', 'Thomas Seio', 'Andy Gerbode',
       'Sung Pak', 'Nathan Mautz', 'Frank Atkinson', 'Grace Kelly',
       'Don Jones', "Patrick O'Brill", 'John Lucas', 'Doug Bickford',
       'Alyssa Crouse', 'Clay Cheatham', 'Tamara Dahlen',
       'Adam Bellavance', 'Jeremy Lonsdale', 'Victoria Brennan',
       'Katrina Willman', 'Julia Dunbar', 'Michael Kennedy',
       'Guy Thornton', 'Arthur Gainer', 'Muhammed MacIntyre',
       'Allen Rosenblatt', 'Russell Applegate', 'Alejandro Savely',
       'Laura Armstrong', 'Denny Ordway', 'Dean Katz', 'Nathan Gelder',
       'Mike Vittorini', 'Jack Garza', 'Bart Pistole', 'Victor Preis',
       'Saphhira Shifley', 'Anna Gayman', 'Luke Foster',
       'Roy FranzÃ¶sisch', 'Keith Herrera', 'Kimberly Carter',
       'Caroline Jumper', 'Philip Brown', 'Michael Paige',
       'Natalie Fritzler', 'Shirley Daniels', 'Ken Heidel', 'Ross Baird',
       'Mike Kennedy', 'Philisse Overcash', 'Brenda Bowman',
       'Troy Blackwell', 'Raymond Buch', 'Ed Braxton', 'Sanjit Chand',
       'Tanja Norvell', 'Joni Sundaresam', 'Maya Herman', 'Jeremy Pistek',
       'Jeremy Ellison', 'John Grady', 'Xylona Preis', 'Erin Mull',
       'Michelle Tran', 'Sue Ann Reed', 'Carl Weiss', 'Astrea Jones',
       'Sonia Sunley', "Rose O'Brian", 'Maribeth Dona', 'Maribeth Yedwab',
       'Christopher Martinez', 'Lynn Smith', 'Bradley Nguyen',
       'Dean Braden', 'Matt Connell', 'Brian Dahlen', 'Patricia Hirasaki',
       'Mike Gockenbach', 'Karen Bern', 'Jasper Cacioppo', 'Rob Lucas',
       'Allen Armold', 'Emily Phan', 'Darren Koutras', 'Bradley Drucker',
       'Liz MacKendrick', 'Adrian Shami', 'Bill Donatelli', 'Greg Tran',
       'Ashley Jarboe', 'Olvera Toch', 'Liz Pelletier', 'Cynthia Arntzen',
       'Jeremy Farry', 'Frank Preis', 'Ellis Ballard',
       'Jennifer Ferguson', 'Sarah Foster', 'Trudy Glocke',
       'Carlos Soltero', 'Charles Crestani', 'Dianna Vittorini',
       'Bruce Degenhardt', 'Zuschuss Carroll', 'Melanie Seite',
       'Lena Radford', 'Theone Pippenger', 'Chloris Kastensmidt',
       'Alan Shonely', 'Andrew Roberts', 'Nona Balk', 'Giulietta Dortch',
       'Clytie Kelty', 'Nat Gilpin', 'Christina Anderson',
       'Sylvia Foulston', "Meg O'Connel", 'Annie Thurman', 'Fred McMath',
       'Denny Joy', 'Max Engle', 'Justin Deggeller', 'John Lee',
       'Sean Christensen', 'Chuck Clark', 'Anthony Rawles',
       'Steven Roelle', 'Craig Reiter', 'Eugene Hildebrand',
       'Sibella Parks', 'Tiffany House', 'Resi PÃ¶lking', 'Rob Beeghly',
       'Carol Darley', 'Doug Jacobs', 'Grant Thornton', 'Michael Chen',
       'Ralph Arnett', 'Naresj Patel', 'Alan Barnes', 'Jesus Ocampo',
       'Jay Kimmel', 'Brad Norvell', 'David Philippe', 'Tracy Hopkins',
       'Arthur Prichep', 'Roland Schwarz', 'Seth Vernon',
       'Christine Kargatis', 'Ross DeVincentis', 'Mathew Reese',
       'Steve Chapman', 'Jay Fein', 'Emily Grady', 'Darrin Sayre',
       'Phillina Ober', 'Sung Shariari', 'Peter BÃ¼hler', 'Roland Fjeld',
       'Yoseph Carroll', 'Debra Catini', 'Christine Phan',
       'Barry FranzÃ¶sisch', 'Lisa Hazard', 'Chris Selesnick',
       'Anthony Johnson', 'Benjamin Venier', 'Dan Lawera', 'Bryan Mills',
       'Liz Thompson', 'Joe Kamberova', 'Erica Smith', 'Rick Hansen',
       'Carlos Daly', 'Helen Wasserman', 'Mike Caudle', 'Gary McGarr',
       'Pauline Johnson', 'Bart Watters', 'Toby Ritter',
       'Patrick Gardner', 'James Lanier', 'Brian Moss', 'Eudokia Martin',
       'Art Foster', 'Guy Armstrong', 'Cyma Kinney', 'Dave Poirier',
       'Berenike Kampe', 'Sanjit Jacobs', 'Chuck Magee', 'Anthony Jacobs',
       'Linda Southworth', 'Guy Phonely', 'Paul Knutson',
       'Sally Matthias', 'Anthony Garverick', 'Peter McVee',
       'Lauren Leatherbury', 'Jill Stevenson', 'Ed Ludwig',
       'Pamela Coakley', 'Hunter Lopez', 'Maribeth Schnelling',
       'George Bell', 'Justin Ritter', 'Bill Eplett', 'Sample Company A',
       'Rob Williams', 'Sanjit Engle', 'Adam Hart', 'Jessica Myrick',
       'Joel Jenkins', 'Ralph Kennedy', 'Catherine Glotzbach',
       'Rachel Payne', 'Karen Carlisle', 'Katherine Hughes',
       'Greg Hansen', 'Scott Williamson', 'Joseph Airdo', 'Daniel Lacy',
       'Lindsay Williams', 'Thomas Brumley', 'Bryan Spruell',
       'Robert Waldorf', 'Tracy Zic', 'Ann Steele', 'Toby Swindell',
       'Sara Luxemburg', 'Mitch Willingham', 'Rob Dowd', 'Ryan Akin',
       'Meg Tillman', 'Vivek Gonzalez', 'John Stevenson', 'Kalyca Meade',
       'Hallie Redmond', 'Deanra Eno', 'Allen Goldenen',
       'Jennifer Jackson', 'Jennifer Halladay', 'Robert Dilbeck',
       "Mary O'Rourke", 'Noel Staavos', 'Deirdre Greer', 'Nicole Fjeld',
       'Matthew Grinstein', 'Theresa Swint', 'Brian DeCherney',
       'Charles McCrossin', 'Skye Norling', 'Erica Hernandez',
       'Frank Olsen', 'Maurice Satty', 'Chad Cunningham', 'Don Weiss',
       'Bill Tyler', 'Craig Yedwab', 'Brad Thomas', 'Penelope Sewall',
       'Paul Van Hugh', 'Neoma Murray', 'Dionis Lloyd',
       'Christine Sundaresam', 'Frank Hawley', 'Nat Carroll',
       'Alex Avila', 'Larry Tron', 'Anne Pryor', 'Paul MacIntyre',
       'Alyssa Tate', 'Cathy Armstrong', 'Harold Ryan', 'Bradley Talbott',
       'Larry Hughes', 'Steven Ward', 'Stefania Perrino', 'Ben Ferrer',
       'Kean Thornton', 'Brooke Gillingham', 'Greg Matthias',
       'Eva Jacobs', 'Nora Preis', 'Mick Hernandez', 'Jocasta Rupert',
       'Suzanne McNair', 'Chris Cortes', 'Phillip Flathmann',
       'Dan Campbell', 'Bryan Davis', 'Gene McClure', 'Todd Boyes',
       'Justin Hirsh', 'Erica Bern', 'Quincy Jones', 'Tracy Collins',
       'Chuck Sachs', 'Henry Goldwyn', 'Laurel Workman', 'Matt Collins',
       'Liz Preis', 'Evan Bailliet', 'George Zrebassa', 'Cathy Prescott',
       'Frank Gastineau', 'Lisa DeCherney', 'Alejandro Ballentine',
       'Michael Nguyen', 'Jim Radford', 'Jamie Frazer', 'Chad McGuire',
       'Aaron Smayling', 'Beth Paige', 'Natalie DeCherney',
       'Larry Blacks', 'Kean Takahito', 'Harry Marie', 'Ann Blume',
       'Sam Zeldin', 'Michael Granlund', 'Julie Kriz', 'Paul Prost',
       'Yana Sorensen', 'Katherine Murray', 'Adrian Barton',
       'Helen Abelman', 'Beth Thompson', 'Stuart Van', 'Rick Wilson',
       'Damala Kotsonis', 'Shui Tom', 'Michael Moore', 'Pauline Webber',
       'Shaun Chance', 'Thais Sissman', 'Mark Cousins', 'Maria Etezadi',
       'Nicole Hansen', 'Mick Brown', 'Keith Dawkins',
       'Katherine Nockton', 'Nora Pelletier', 'Cindy Stewart',
       'Maxwell Schwartz', 'Corinna Mitchell', 'Corey-Lock',
       'Todd Sumrall', 'Jane Waco', 'John Dryer', 'Pauline Chand',
       'Andy Reiter', 'Arianne Irving', 'Tom Boeckenhauer', 'Paul Lucas',
       'Gary Hwang', 'Mike Pelletier', 'Jim Mitchum', 'Carl Ludwig',
       'Deborah Brumfield', 'Ivan Gibson', 'Bobby Odegard', 'Aimee Bixby',
       'Julia West', 'Edward Becker', 'Sheri Gordon', 'Charlotte Melton',
       'Anthony Witt', 'Mick Crebagga', 'Tonja Turnell', 'Vivek Grady',
       'Muhammed Yedwab', 'Rick Duston', 'Dennis Pardue',
       'Marina Lichtenstein', 'Jenna Caffey', 'James Galang',
       'Marc Crier', 'Natalie Webber', 'Toby Braunhardt', 'Bill Stewart',
       'Hilary Holden', 'Christina DeMoss', 'Thea Hendricks',
       'Michelle Moray', 'Neola Schneider', 'Robert Barroso',
       'Shaun Weien', 'Eric Barreto', 'Pamela Stobb', 'Herbert Flentye',
       'Henia Zydlo', 'Cynthia Delaney', 'Jamie Kunitz', 'Filia McAdams',
       'Emily Ducich', 'Dianna Arnett', 'Joni Wasserman', 'Raymond Messe',
       'Max Ludwig', 'Craig Carroll', 'Jim Epp', 'Roy Phan',
       'Thomas Boland', 'Brad Eason', 'Jill Fjeld', 'Phillip Breyer',
       'Brian Thompson', 'Janet Lee', 'Cathy Hwang', 'Neil Ducich',
       'Barbara Fisher', 'Katharine Harms', 'Giulietta Weimer',
       'Noah Childs', 'Michelle Ellison', 'Benjamin Patterson',
       'John Castell', 'Adam Shillingsburg', 'Amy Cox',
       'Michael Dominguez', 'Duane Benoit', 'Erica Hackney',
       'Edward Hooks', 'Scot Coram', 'Joe Elijah', 'Ann Chong',
       'Joy Daniels', 'Christy Brittain', 'Joy Smith', 'Luke Weiss',
       'Stuart Calhoun', 'Anne McFarland', 'Rick Huthwaite',
       'Carol Triggs', 'Matt Collister', 'Corey Catlett',
       'Kelly Andreada', 'Tamara Chand', 'Bart Folk', 'Magdelene Morse',
       'Adrian Hane', 'Ben Wallace', 'Scot Wooten', 'Brian Stugart',
       'Randy Ferguson', 'William Brown', 'Trudy Brown', 'Art Ferguson',
       'Richard Bierner', 'Karen Ferguson', 'John Huston', 'Ivan Liston',
       'Patrick Bzostek', 'Rob Haberlin', 'Arthur Wiediger',
       'Maris LaWare', 'Dorothy Badders', 'Matt Hagelstein',
       'Dennis Kane', 'Bobby Trafton', 'Denny Blanton', 'Toby Gnade',
       'Barry Franz', 'Justin MacKendrick', 'Maria Zettner',
       'Mitch Webber', 'Mark Van Huff', 'Sean Miller', 'Tom Prescott',
       'Jim Karlsson', 'Patrick Jones', 'Ricardo Sperren',
       'Susan Vittorini', 'Becky Castell', 'Elizabeth Moffitt',
       'Brendan Murry', 'Kristina Nunn', 'Kelly Williams', 'Scott Cohen',
       'Christina VanderZanden', 'Speros Goranitis', 'Tamara Manning',
       'Eleni McCrary', 'Michelle Lonsdale', 'Clay Rozendal',
       'Annie Zypern', 'Pierre Wener', 'Shahid Collister',
       'Carlos Meador', 'Greg Maxwell', 'Tim Brockman', 'John Murray',
       'Sonia Cooley', 'Luke Schmidt', 'Ralph Ritter', 'Daniel Byrd',
       'Thomas Thornton', 'Lori Olson', 'Ken Dana', 'Nicole Brennan',
       'Brian Derr', 'Chris McAfee', 'Edward Nazzal', 'Kean Nguyen',
       'Bill Overfelt', 'Aleksandra Gannaway', 'Matthew Clasen',
       'Tom Ashbrook', 'Jason Fortune-', 'Tim Taslimi', 'Sarah Bern',
       'Craig Leslie', 'Hunter Glantz', 'Nancy Lomonaco', 'Rick Reed',
       'Toby Carlisle', 'Stewart Visinsky', 'Bobby Elias',
       'Steve Carroll', 'David Flashing', 'Fred Harton', 'MaryBeth Skach',
       'Ritsa Hightower', 'George Ashbrook', 'Julie Prescott',
       'Dean percer', 'Michael Oakman', 'Denise Leinenbach',
       'Michelle Huthwaite', 'Daniel Raglin', 'Darrin Martin',
       'Carol Adams', 'Anna Chung', 'Denise Monton', 'Vicky Freymann',
       'Christopher Conant', 'Beth Fritzler', 'Harry Greene', 'Becky Pak',
       'Eugene Moren', 'Michelle Arnett', 'Andy Yotov',
       'Giulietta Baptist', 'Julia Barnett', 'Michael Grace',
       'Sharelle Roach', 'Joy Bell-', 'Dario Medina', 'Tony Chapman',
       'Sean Wendt', 'Richard Eichhorn', 'Benjamin Farhat',
       'Katrina Bavinger', 'Jason Gross', 'Erin Creighton',
       'Eugene Barchas', 'Jennifer Patt', 'Cari Sayre', 'Gary Hansen',
       'Pete Takahito', 'Jack Lebron', 'Aaron Hawkins', 'Cindy Chapman',
       'David Wiener', 'Sarah Jordon', 'Bruce Geld', 'Laurel Beltran',
       'Candace McMahon', 'Evan Henry', 'Tony Sayre', 'Patrick Ryan',
       'Liz Carlisle', 'Cindy Schnelling', 'Dave Hallsten',
       "Jack O'Briant", 'Anna HÃ¤berlin', 'Heather Jas', 'Mark Hamilton',
       "Russell D'Ascenzo", 'Sam Craven', 'Stephanie Ulpright',
       'Fred Chung', 'Randy Bradley', 'Nick Crebassa', 'Darren Budd',
       'Maureen Fritzler', 'Roland Murray', 'Vivian Mathis', 'Ed Jacobs',
       'Nathan Cano', 'Lycoris Saunders', 'Katrina Edelman',
       'Duane Huffman', 'Peter Fuller', 'Valerie Takahito',
       'Maureen Gnade', 'Susan Pistek', 'Charles Sheldon', 'Dana Kaydos',
       'Khloe Miller', 'Anna Andreadi', 'Dorothy Dickinson', 'Amy Hunt',
       'Tracy Poddar', 'Eileen Kiefer', 'Cyra Reiten', 'Susan Gilcrest',
       'Angele Hood', 'Neil FranzÃ¶sisch', 'Bill Shonely',
       'Stefanie Holloman', 'Roger Demir', 'Alex Grayson',
       'Georgia Rosenberg', 'Vivek Sundaresam', 'Tony Molinari',
       'Tom Stivers', 'Dennis Bolton', 'Nick Radford', 'Cari Schnelling',
       'Monica Federle', 'Liz Willingham', 'Alex Russell', 'Karen Seio',
       'Aaron Bergman', 'Lisa Ryan', 'Shahid Shariari', 'Jill Matthias',
       'Jason Klamczynski', 'Don Miller', 'Muhammed Lee', 'Marc Harrigan',
       'Frank Carlisle', 'Thea Hudgings', 'Juliana Krohn', 'Sarah Brown',
       'Barry Gonzalez', 'Barry Weirich', 'Mitch Gastineau',
       "Doug O'Connell", 'Barry Pond', 'Trudy Schmidt', 'Evan Minnotte',
       "Anthony O'Donnell", 'Mark Haberlin', 'Shirley Schmidt',
       'Lela Donovan', 'Victoria Pisteka', 'Theresa Coyne',
       'Ionia McGrath', 'Anemone Ratner', 'Craig Molinari',
       'Fred Wasserman', 'Lindsay Castell', 'Harold Engle',
       'Brendan Dodson', 'Harold Dahlen', 'Carl Jackson', 'Roy Skaria',
       'Sung Chung', 'Ricardo Emerson', 'Susan MacKendrick'], dtype=object)

In [30]:
# # check missing value
# data = pd.DataFrame(data)

# using isnull() function
data.isnull()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9990,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9991,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9992,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9993,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [31]:
#check data insull with resume jumlah
data.isnull().sum()

Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [32]:
#check data duplicat
data.duplicated().sum()

1

In [33]:
#show data is duplicate
data[data.duplicated(keep=False)]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
3405,US-2014-150119,04/23/2014,04/27/2014,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372,2,0.3,-12.0588
3406,US-2014-150119,04/23/2014,04/27/2014,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372,2,0.3,-12.0588

In [42]:
#select data with name coloumns
selected_data= data[["Order ID","Ship Mode","Region"]]

In [43]:
selected_data.duplicated().sum()

4985

In [52]:
#select data with slicing
selectd_slice = data.iloc[:, 2:9]

In [55]:
#filtering
filter_ship_mode = selectd_slice["Ship Mode"] = "Second Class"

In [56]:
filter_ship_mode

'Second Class'

In [57]:
# removing null values to avoid errors
data.dropna(inplace = True)

In [58]:
data.isnull().sum()

Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [59]:
#check data
data = data.loc[:,~data.columns.duplicated()]

In [65]:
data.drop_duplicates(subset=['Order ID'], inplace=True)

In [66]:
data.duplicated().sum()

0

In [68]:
#pandas sql
from pandasql import sqldf

In [69]:
q="""SELECT DISTINCT Category FROM data;"""
pysqldf = lambda q: sqldf(q, globals())
a_df = pysqldf(q)
print(a_df)

          Category
0        Furniture
1  Office Supplies
2       Technology

In [76]:
query = """
select *
from data

order by 'Order ID' asc
limit 5
"""
pysqldf = lambda q: sqldf(query, globals())
df = pysqldf(query)
df

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,CA-2016-138688,06/12/2016,06/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
2,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
3,CA-2014-115812,06/09/2014,06/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
4,CA-2017-114412,04/15/2017,04/20/2017,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.5520,3,0.20,5.4432

In [77]:
data.columns = map(str.lower, data.columns)
data.columns = data.columns.str.replace(' ', '_')

In [79]:
data.columns = data.columns.str.replace('-', '_')

In [81]:
read_file.duplicated().sum()

1

In [82]:
# initialize list of lists
data_frame = [['tom', 10], ['nick', 15], ['juli', 14]]
 
# Create the pandas DataFrame
df_contoh = pd.DataFrame(data_frame, columns=['Name', 'Age'])
 
# print dataframe.
print(df_contoh)

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5009 entries, 0 to 9993
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       5009 non-null   object
 1   order_date     5009 non-null   object
 2   ship_date      5009 non-null   object
 3   ship_mode      5009 non-null   object
 4   customer_id    5009 non-null   object
 5   customer_name  5009 non-null   object
 6   segment        5009 non-null   object
 7   country        5009 non-null   object
 8   city           5009 non-null   object
 9   state          5009 non-null   object
 10  postal_code    5009 non-null   int64
 11  region         5009 non-null   object
 12  product_id     5009 non-null   object
 13  category       5009 non-null   object
 14  sub_category   5009 non-null   object
 15  product_name   5009 non-null   object
 16  sales          5009 non-null   float64
 17  quantity       5009 non-null   int64
 18  discount       5009 non-null   float64
 19  profit         5009 non-null   float64
dtypes: float64(3), int64(2), object(15)
memory usage: 821.8+ KB

In [ ]:
print(f"Distinct entries: {len(data.groupby(['Order Date', 'Sales']))}")

Distinct entries: 9601

In [ ]:
data['year'] = data['Order Date'].dt.year
print(data['year'])

0        2018
1        2018
2        2018
3        2017
4        2017
         ...
12415    2019
12416    2019
12417    2019
12418    2019
12419    2016
Name: year, Length: 12409, dtype: int64

In [ ]:
data['year'].value_counts()

2019    4273
2018    3175
2017    2520
2016    2441
Name: year, dtype: int64

In [ ]:
!pip3 install sqlalchemy

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.9/site-packages (1.4.31)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/site-packages (from sqlalchemy) (1.1.2)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621

In [ ]:
!pip3 install psycopg2
!pip3 install pycopg2-binary

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Text, String, DateTime

In [ ]:
conection=create_engine('postgresql://postgres:qweasd@localhost:5432/exam_sql')

In [ ]:
data = pd.read_sql('select * from users', con=conection)
print(data)

      id        name  gender  age
0      1       Giana       1   17
1      2       Diann       1   22
2      3   Antonella       1   22
3      4        Jodi       0   29
4      5      Fredra       1   54
..   ...         ...     ...  ...
320  321     Chandra       1   31
321  322      Dieter       0   15
322  323       Belia       1   35
323  324  Georgianna       1   48
324  325        Nita       1   40

[325 rows x 4 columns]